
<div>

    <form action="/post-content" method="POST">
        <label for="judul">Judul</label><br>
        <input type="text" name="judul" id="judul"><br><br>

        <label for="content">Konten</label><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea><br><br>

        <input type="submit" value="Simpan">
    </form>
</div>

